*{margin: 0;padding: 0;}
.enter{
    background-color: rgb(247,247,247);
    .banner{
        background-color: rgb(225, 236, 254);
        .content{
            height: 780px;
            width: 1200px;
            position: relative;
            margin: 0 auto;
            .logo{
                position: absolute;
                top: 0;
                left: 243px;
                a {
                    display: block;
                    height: 52px;
                    width: 145px;
                    background-image: url(https://accountstatic.vivo.com.cn/accountstatic.vivo.com.cn/static/img/logo-1.e4aed09.png);
                    background-size: 100% 100%;
                }
            }
            form{
                width: 400px;
                height: 460px;
                background-color: #fff;
                position: absolute;
                top: 74px;
                right: -50px;
                padding: 30px 30px 20px;
                text-align: center;
                h2{
                    margin-bottom: 50px;
                    font-weight: 400;
                }
                p{
                    margin-top: 20px;
                    color:  #606266;
                    input{
                        border: 1px solid #dedfe0;
                        box-sizing: border-box;
                        color: #333333;
                        height: 48px;
                        width: 300px;
                        line-height: 48px;
                        outline: 0;
                        padding: 0 15px;
                        margin-left: 5px;
                    }
                    #password{
                        margin-left: 20px;
                    }
                }
                .checkbox{
                    margin: 20px 0;
                    color:  #606266;
                }
                button{
                    width: 360px;
                    height: 48px;
                    margin-left: 20px;
                    line-height: 48px;
                    font-size: 17px;
                    color: #fff;
                    text-align: center;
                    cursor: pointer;
                    outline: 0;
                    border: 0;
                    background-color: #456fff;
                }
                .btn2{
                    background-color: #fff;
                    color: #456fff;
                    margin-top: 20px;
                    border: 1px solid #456fff;
                }
                span{
                    color:  #606266;
                    display: inline-block;
                    margin-top: 20px;
                }
            }
        }
    }
    footer{
        margin-top: 135px;
        margin-bottom: 30px;
        text-align: center;
        font-size: 11px;
        color: #9d9d9d;
        .service{
            a{
                text-decoration: none;
                color: #666;
            }
            span{
                padding:10px;
            }
        }
        .copyright{
            padding: 10px 0;
            font-size: 10px;
            box-sizing: border-box;
        }
    }
}
